footer {
    background: $primaryBlack;
    color: $primaryWhite;
    .footerInformation {
        padding: 40px 0;
        display: flex;
        align-items: center;
    }
    .footerText {
        width: 40%;
    }
    .footerSocial {
        width: 20%;
        ul {
            display: flex;
            justify-content: flex-end;
        }
        i {
            font-size: 2rem;
            padding-left: 20px;
        }
        a {
            color: $primaryWhite;
            transition: ease all 0.3s;
            &:hover, &:focus {
                color: $mainBackground;
            }
        }
    }
    .footerNav {
        width: 40%;
    }
}

.copyright {
    background: darken($primaryBlack, 5%);
    padding: 20px 0;
    text-align: center;
}