/* 
---------------------- 
Header Styles 
---------------------- 
*/
header {
    background: url(../assets/headerBackground.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    color: $primaryWhite;
    ul,.logo,h2 {
        filter: drop-shadow(0 0 4px $primaryBlack);
    }

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    h2 {
        margin: auto;
        font-size: 3rem;
    }
}