.searchArea {
    padding: 40px 0;
    text-align: center;
    form {
        .inputs {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            input, select {
                width: calc(100% / 4 - 20px);
                margin: 15px 0;
                border: 0;
                height: 40px;
            }
        }
        button {
            display: block;
            border-radius: $cardBorderRadius;
            border: 0;
            padding: 15px;
            width: 25%;
            margin: 0 auto;
            background: $popColour;
            color: $primaryWhite;
            transition: ease all 0.3s;
            &:hover, &:focus {
                background: $primaryWhite;
                color: $popColour;
            }
        }
    }
}


.searchResults {
    padding: 20px 0;
    background: $primaryWhite;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 3px $popColour solid;
            width: calc(100% / 3 - 20px);
            margin: 15px 30px 15px 0;
            border-radius: $cardBorderRadius;
            text-align: center;
            overflow: hidden;
            &:nth-of-type(3n) {
                margin-right: 0;
            }

            .imgContainer {
                flex-basis: 300px;
                flex-grow: 1;
            }

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }

            button {
                border: 0;
                background: $mainBackground;
                color: $primaryWhite;
                transition: ease all 0.3s;
                padding: 15px;
                width: 100%;
                &:hover, &:focus {
                    background: $popColour;
                }
            }
        }
    }
}