@media (max-width: 940px) {
    body {
        border: 1px solid cyan;
    }
    .headerNav {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 784px) {
    body {
        border: 1px solid red;
    }

    .headerNav ul {
        display: none;
    }
    header {
        h1 {
            font-size: 1.6rem;
        }
        h2 {
            text-align: center;
        }
    }
    .hamburger {
        display: initial;
    }
    
    .searchResults {
        ul li {
            width: calc(100% / 2 - 30px);
        }
        
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
}

@media (max-width: 420px) {
    body {
        border: 1px solid lime;
    }
    header {
        background-position: top left;
        height: 50vh;
        min-height: 300px;
        .logo {
            width: 100%;
        }
        h2 {
            font-size: 2rem;
        }
    }
}