ul {
    padding: 0;
}
ul, li, a {
    list-style: none;
    text-decoration: none;
}
.headerNav,
.footerNav {
    a {
        padding: 10px 20px;
        color: $primaryWhite;
        text-transform: uppercase;
        &:hover, &:focus, &.selected {
            text-decoration: underline;
        }
    }
}

.headerNav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    ul {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        li {
            border-right: 1px solid $primaryWhite;
            &:last-of-type {
                border-right: none;
            } 
        }
    }

}

.footerNav {
    text-align: center;
}