// Colours 
$primaryBlack: #0D0D0D; 
$primaryWhite: #ffffff;
$plumHighlight: #4C0341; 
$orangeHighlight: #FE6F19;
$brownHighlight: #882c07;
$backgroundColour: #FAE5FF;
// Fonts
$baseFont: 'Lato', sans-serif;
$secondaryFont: 'Pompiere', cursive;