// Colours 

$primaryBlack: #1B1B1B;
$primaryWhite: #FFFFFF;

$mainBackground: #BE97D3;
$popColour: #429EC5;

// Fonts
$baseFont: 'Raleway', sans-serif;
$secondaryFont: 'Calistoga', cursive;

// border radius
$cardBorderRadius: 30px;
